#CenterDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#InnerPopup {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  background: rgba(65, 74, 76, 0.5);
  border-style: dashed;
}

#CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
}

input {
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  height: 3rem;
  width: 20rem;
  background-color: whitesmoke;
  color: black;
  font-size: large;
}

#PanelSwitch {
  cursor: pointer;
}

#LoginInner h1,
#RegisterInner h1 {
  text-align: center;
}

.primaryButton {
  width: 320px;
  height: 50px;
  margin-top: 5px;
  background: linear-gradient(135deg, #5227ff, #7cff67);
  font-size: 30px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.primaryButton:hover {
  transform: translateY(-2px);
}
